.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem 0;
  }
}

.heroTitle {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.heroMark {
  font-weight: 200;
  color: var(--ifm-color-primary);
}

.typewriterContainer {
  display: flex;
}

.heroTypewriter {
  font-size: 3rem;
  font-weight: 700;
  display: inline;
}

.cursorContainer {
  display: inline-block;
}

.cursor {
  height: 3rem;
  width: 6px;
  background-color: var(--ifm-color-primary);
  align-self: baseline;
  margin-top: 16px;
  border-radius: 2px;
  animation: 0.9s infinite ease-in-out opacityFade;
}

@keyframes opacityFade {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.heroText {
  max-width: 380px;
}

.buttons {
  display: flex;
  gap: 1rem;
}
