body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

button {
  font-size: 1em;
  padding: 0.5em 1em;
  margin: 0.5em;
  border: 1px solid #f20089;
  border-radius: 4px;
  background-color: transparent;
  transition:
    background-color 0.2s,
    color 0.2s;
}

button:hover {
  background-color: #f20089;
  color: white;
}
